        body {
            background-color: #FFFDD0;
            margin: 0;
            padding: 0;
        }
        div.flex-container {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
        }
        h1#header, h2.header, p, div, footer {
            text-align: center;
            font-family: 'VT323', monospace;
        }
        h1#header {
            font-size: 3.5rem;
            text-align: center;
            letter-spacing: 1rem;
        }
        nav {
            background-color: rgb(247, 145, 77);
            width: 100vw;
            box-shadow: -5px 15px 15px 0px rgba(247,145,77,100%);
        }
        h2.header {
            font-size: 3.5rem;
            text-align: center;
        }
        p#about-me {
            font-size: 1.7rem;
            text-align: center;
        }
        p.text {
            font-size: 1.7rem;
            text-align: center;
        }
        img {
            width: 25vw;
            float: center;
            border-radius: 10px;
            box-shadow: 0px 10px 10px 1px rgba(0,0,0,50%);
        }
        hr {
            color: black;
        }
        div.content {
            flex: 0 0 30%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-size: 1.5rem;
        }
        div.project-tools {
            display: grid;
            grid-template-rows: 1fr;
            align-items: center;
        }
        a {
            color: black;
            text-decoration: none;
            font-size: 3rem;
            letter-spacing: 1rem;
        }
        a:hover {
            text-decoration: underline;
            color: maroon;
        }
        div.project-wrapper {
            justify-content: center;
        }
        div.project-desc {
            font-size: 2rem;
            align-items: center;
        }
        div.header {
            font-size: 2rem;
            letter-spacing: 0.5rem;
        }
